[Unit]
Description=1Password
After=graphical-session.target

[Service]
ExecStart=1password --silent
RemainAfterExit=true

[Install]
WantedBy=graphical-session.target
